@import "tailwindcss";

@font-face {
  font-family: "Halvar Breit";
  src:
    url("/fonts/HalvarBreitt2-XBd.woff2") format("woff2"),
    url("/fonts/HalvarBreitt2-XBd.woff") format("woff"),
    url("/fonts/HalvarBreitt2-XBd.ttf") format("truetype"),
    url("/fonts/HalvarBreitt2-XBd.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-halvar: "Halvar Breit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-halvar: var(--font-halvar);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-halvar);
  min-height: 100dvh;
}
